body{
    background-color: lightblue;
    color: royalblue;
}
#namaskar{
    color:salmon;
}

.button{
    margin-right: 5px;
    font-style: italic;
    color:maroon;
    background-color: yellow;
}
h3{
    color:mediumseagreen;
}
#em{
    color:midnightblue;
}
