#B1{
    background-color: green;
    color:black;
    font-style: italic;
}

#B2{
    background-color:red;
    color:blue;
    font-style: italic;
}

#B3{
    background-color:whitesmoke;
    color:crimson;
    font-style: italic;
}
h1{
    color: darkblue;
}

h2{
    color:darkmagenta;
}

button{
    margin-right: 5px;
}